################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DnDCaritureCreator/.vs
/DnDCaritureCreator/DnDCaritureCreator/bin/Debug/net8.0/DnDCaritureCreator.dll
/DnDCaritureCreator/.vs/DnDCaritureCreator/v17/.suo
/DnDCaritureCreator/.vs/DnDCaritureCreator/v17/DocumentLayout.json
/DnDCaritureCreator/DnDCaritureCreator/bin/Debug/net8.0/DnDCaritureCreator.pdb
/DnDCaritureCreator/DnDCaritureCreator/bin/Debug/net8.0/DnDCaritureCreator.exe
/DnDCaritureCreator/DnDCaritureCreator/obj/Debug/net8.0/ref/DnDCaritureCreator.dll
/DnDCaritureCreator/DnDCaritureCreator/obj/Debug/net8.0/refint/DnDCaritureCreator.dll
/DnDCaritureCreator/DnDCaritureCreator/obj/Debug/net8.0/apphost.exe
/DnDCaritureCreator/DnDCaritureCreator/obj/Debug/net8.0/DnDCaritureCreator.AssemblyInfo.cs
/DnDCaritureCreator/DnDCaritureCreator/obj/Debug/net8.0/DnDCaritureCreator.AssemblyInfoInputs.cache
/DnDCaritureCreator/DnDCaritureCreator/obj/Debug/net8.0/DnDCaritureCreator.dll
/DnDCaritureCreator/DnDCaritureCreator/obj/Debug/net8.0/DnDCaritureCreator.pdb
/DnDCaritureCreator/DnDCaritureCreator/obj/Debug/net8.0/DnDCaritureCreator.sourcelink.json
/DnDCaritureCreator/.vs/DnDCaritureCreator/DesignTimeBuild/.dtbcache.v2
/DnDCaritureCreator/.vs/DnDCaritureCreator/v17/.futdcache.v2
/DnDCaritureCreator/DnDCaritureCreator/obj/Debug/net8.0/DnDCaritureCreator.csproj.CoreCompileInputs.cache
/DnDCaritureCreator/DnDCaritureCreator/obj/Debug/net8.0/DnDCaritureCreator.genruntimeconfig.cache
/DnDCaritureCreator/DnDCaritureCreator/obj/DnDCaritureCreator.csproj.nuget.g.props
/DnDCaritureCreator/DnDCaritureCreator/obj/DnDCaritureCreator.csproj.nuget.dgspec.json
/DnDCaritureCreator/DnDCaritureCreator/obj/project.assets.json
/DnDCaritureCreator/DnDCaritureCreator/obj/project.nuget.cache
