################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DnDCaritureCreator/.vs/DnDCaritureCreator/FileContentIndex
